

td, th {
      margin: 0px;
    border: 0px solid #ccc;
    padding: 10px;
}
table{
    border-collapse: collapse;
}

h3{
    margin-bottom: 0px;
}

button{
    background-color: #ccc;
    height: 40px;
    width: 80px;
    border: 1px;

.checked {
    color: #EEAC82;
  }

.star{
      color:red;
  }
